
<link href="~/Styles/StyleSheet.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Country Bed &amp; Breakfasts</h1>
    <p class="lead">Welcome to our BNBs, perfectly located wherever you want to go.</p>
    <p>View our three locations below!</p>
</div>

<div class="row justify-content-around">

    <div class="card col-12 col-md-4 col-lg-3 my-2" style="width: 18rem;">
        <img src="~/Images/square_gardens.png" class="card-img-top" alt="Country Gardens">
        <div class="card-body">
            <h5 class="card-title">Country Gardens</h5>
            <p class="card-text">
                Be amazed at the vibrant colors of our gardens year-round!
                We've always got something growing to heighten your
                experience of the seasons..
            </p>
            <a href="../Customer" class="btn btn-primary">Reservations &raquo;</a>
        </div>
    </div>

    <div class="card col-12 col-md-4 col-lg-3 my-2" style="width: 18rem;">
        <img src="~/Images/square_roads.jpg" class="card-img-top" alt="Country Roads">
        <div class="card-body">
            <h5 class="card-title">Country Roads</h5>
            <p class="card-text">
                Located in the at the crossroads of this quaint country town,
                you can be away from it all, but still enjoy the hospitality of the
                locals.
            </p>
            <a href="../Customer" class="btn btn-primary">Reservations &raquo;</a>
        </div>
    </div>

    <div class="card col-12 col-md-4 col-lg-3 my-2" style="width: 18rem;">
        <img src="~/Images/square_hills.jpg" class="card-img-top" alt="Country Roads">
        <div class="card-body">
            <h5 class="card-title">Country Hills</h5>
            <p class="card-text">
                Get lost in the woods, with this spectacular cottage near private
                hiking trails and pristene Lake Azure.
            </p>
            <a href="../Customer" class="btn btn-primary">Reservations &raquo;</a>
        </div>
    </div>
</div>
