@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Country Bed &amp; Breakfasts</h1>
    <p class="lead">Welcome to our BNBs, perfectly located wherever you want to go.</p>
    <p>View our three locations below!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Country Gardens</h2>
        <p>
            Be amazed at the vibrant colors of our gardens year-round! 
            We've always got something growing to heighten your 
            experience of the seasons.
        </p>
        <p><a class="btn btn-default" href="../Customer">Reservations &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Country Roads</h2>
        <p>
            Located in the at the crossroads of this quaint country town,
            you can be away from it all, but still enjoy the hospitality of the
            locals.
        </p>
        <p><a class="btn btn-default" href="../Customer">Reservations &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Country Hills</h2>
        <p>Get lost in the woods, with this spectacular cottage near private
        hiking trails and pristene Lake Azure.</p>
        <p><a class="btn btn-default" href="../Customer">Reservations &raquo;</a></p>
    </div>
</div>